FRONTEND_PORT=3000
GATEWAY_SERVICE_PORT=8080
AUTH_SERVICE_PORT=8085
SYSTEM_SERVICE_PORT=8081
STUDY_SERVICE_PORT=8082
SEARCH_SERVICE_PORT=8083
IMPORT_SERVICE_PORT=8084
QUIZ_SERVICE_PORT=8086
NACOS_PORT=8848
NACOS_CONSOLE_PORT=8080
NACOS_GRPC_PORT=9848
NACOS_AUTH_ENABLE=true
NACOS_AUTH_ADMIN_ENABLE=true
NACOS_AUTH_CONSOLE_ENABLE=true
NACOS_USERNAME=nacos
NACOS_PASSWORD=nacos
NACOS_AUTH_TOKEN=RW5nbGlzaE5vdmFObmFjb3NUb2tlbkZvckxvY2FsRGV2RW52aXJvbm1lbnQ=
NACOS_AUTH_IDENTITY_KEY=serverIdentity
NACOS_AUTH_IDENTITY_VALUE=security

MYSQL_PORT=4407
MYSQL_DATABASE=english_nova
MYSQL_USERNAME=english_nova
MYSQL_PASSWORD=english_nova
MYSQL_ROOT_PASSWORD=root

REDIS_PORT=6379
REDIS_PASSWORD=

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

ELASTICSEARCH_PORT=9200
ELASTICSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
JWT_SECRET=english-nova-local-jwt-secret-must-be-32-char
JWT_EXPIRATION_HOURS=72
