-- MySQL dump 10.13  Distrib 9.2.0, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: english_nova
-- ------------------------------------------------------
-- Server version	8.4.4

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `user_public_wordbooks`
--

DROP TABLE IF EXISTS `user_public_wordbooks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_public_wordbooks` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `public_wordbook_id` bigint NOT NULL,
  `current_sort_order` int NOT NULL DEFAULT '0',
  `completed_count` int NOT NULL DEFAULT '0',
  `wrong_count` int NOT NULL DEFAULT '0',
  `daily_target_count` int NOT NULL DEFAULT '0',
  `daily_completed_count` int NOT NULL DEFAULT '0',
  `daily_progress_date` date DEFAULT NULL,
  `subscribed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `last_studied_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_public_wordbook` (`user_id`,`public_wordbook_id`),
  KEY `idx_user_public_wordbooks_user` (`user_id`,`last_studied_at` DESC),
  KEY `fk_user_public_wordbooks_wordbook` (`public_wordbook_id`),
  CONSTRAINT `fk_user_public_wordbooks_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_user_public_wordbooks_wordbook` FOREIGN KEY (`public_wordbook_id`) REFERENCES `public_wordbooks` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_public_wordbooks`
--

LOCK TABLES `user_public_wordbooks` WRITE;
/*!40000 ALTER TABLE `user_public_wordbooks` DISABLE KEYS */;
INSERT INTO `user_public_wordbooks` VALUES (5,1115,19,0,0,0,20,0,NULL,'2026-04-25 03:23:35',NULL),(7,1115,21,0,0,0,20,0,NULL,'2026-04-25 03:28:40',NULL),(10,1115,20,0,0,0,10,0,NULL,'2026-04-27 03:05:10',NULL),(17,1115,25,0,0,0,0,0,NULL,'2026-05-08 03:48:56',NULL);
/*!40000 ALTER TABLE `user_public_wordbooks` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-08 12:28:16
